[submodule "vim-colorschemes"]
  path = vim/bundle/vim-colorschemes
  url = git://github.com/flazz/vim-colorschemes.git
[submodule "nerdtree"]
  path = vim/bundle/nerdtree
  url = git://github.com/scrooloose/nerdtree.git
[submodule "nerdcommenter"]
  path = vim/bundle/nerdcommenter
  url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim-less"]
  path = vim/bundle/vim-less
  url = git://github.com/groenewege/vim-less.git
[submodule "vim-jade"]
  path = vim/bundle/vim-jade
  url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim-seek"]
  path = vim/bundle/vim-seek
  url = git://github.com/goldfeld/vim-seek.git
[submodule "syntastic"]
  path = vim/bundle/syntastic
  url = git://github.com/scrooloose/syntastic.git
[submodule "vim-surround"]
  path = vim/bundle/vim-surround
  url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/matchtag"]
	path = vim/bundle/matchtag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
