[submodule "nerdtree"]
    path = vim/bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git
[submodule "nerdcommenter"]
    path = vim/bundle/nerdcommenter
    url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim-less"]
    path = vim/bundle/vim-less
    url = git://github.com/groenewege/vim-less.git
[submodule "vim-seek"]
    path = vim/bundle/vim-seek
    url = git://github.com/goldfeld/vim-seek.git
[submodule "vim-colorschemes"]
	path = vim/bundle/colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
